

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3" data-aos="zoom-out-up">
               <h6>Liens</h6>

                <ul class="footer-links">
                    <li><a [routerLink]="'/home'">Accueil</a></li>
                    <li><a [routerLink]="'/web-create'">Creations</a></li>
                    <li><a [routerLink]="'/processus'">Processus</a></li>
                    <li><a [routerLink]="'/contact'">Contact</a></li>
                
                </ul>
            </div>

            <div class="col-md-3" data-aos="zoom-out-up">
                <h6>Nos services</h6>
                <ul class="footer-links">
                    <li><a [routerLink]="'/web-create'">Web et e-commerce</a></li>
                    <li><a [routerLink]="'/web-create'">Applications mobiles</a></li>
                    <li><a [routerLink]="'/web-create'">Developpement sur mesure</a></li>
                    
                </ul>
            </div>

            <div class="col-md-3" data-aos="zoom-out-up">
                <h6></h6>
                <div class="addr">
                    <div class="addr-item">
                        <mat-icon class="mat">room</mat-icon>
                        Madagascar, Antananarivo, 101 
                    </div>
                    
                </div>

                <div>
                    <div class="addr-item">
                        <mat-icon class="mat">email</mat-icon>
                        <a href="mailto:exemple@softanddata.com">exemple@softanddata.com</a>
                    </div>
                    
                </div>

                
                <div>
                    <div class="addr-item">
                        <mat-icon class="mat">phone</mat-icon>
                        +261 32 000 000
                    </div>
                    
                </div>
                
            </div>

            <div class="col-md-3">
                <div class="l">
                    <div class="social-network">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        
                        
                    </div>
                </div>
                    <p style="margin-bottom: 0px;" class="cp-text">&copy; softanddata 2020</p>



            </div>
        </div>

        
    </div>

    
    
    
</footer>