<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="https://img.bfmtv.com/c/1256/708/c46/20b22ce92afd9d705e5579090b8a6.jpg" alt="" class="responsive-img">
		</div>
		<div class="col-md-6">
			<h1>HP ProBook 450 G6 - 15.6" - Core i7 8565U - 16 Go RAM - 512 Go SSD - Français
				Taille d'écran 15''</h1>
			<p>

				Système d'exploitation Windows 10 Pro
			</p>
			<p>
				Processeur Intel Core i7</p>

			<p>
				Mémoire vive 16 Go ram</p>
			<p>
				Carte graphique Intel UHD Graphics
			</p>
			<div class="row">
				<div class="col-md-6">
					<button class="btn btn-danger hvr-pop">Commander
						<mat-icon>shopping_cart</mat-icon>
					</button>
				</div>
				<div class="col-md-6">
					<div class="circle card hvr-buzz">
						<p class="price">200 000 MGA</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
