<div class="container margin-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title text-center who-are-font">Platforme voulue?</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 pointer hvr-bounce-in" (click)="estimateService.parentType = 'type_web_mobile_ios'"
            data-aos="fade-right">
            <mat-card>
                <div class="d-flex justify-content-center">
                    <img src="/assets/content/web_ios.png" class="max-width-1">
                </div>
                <div class="text-center">
                    <h1 class="who-are-font">WEB+iOS</h1>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4 pointer hvr-bounce-in" data-aos="fade-left"
            (click)="estimateService.parentType = 'type_web_mobile_android'">
            <mat-card>
                <div class="d-flex justify-content-center">
                    <img src="/assets/content/web_android.png" class="max-width-1">
                </div>
                <div class="text-center">
                    <h1 class="who-are-font">WEB+Android</h1>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4 pointer hvr-bounce-in" data-aos="fade-left"
            (click)="estimateService.parentType = 'type_web_mobile_android_ios'">
            <mat-card>
                <div class="d-flex justify-content-center">
                    <img src="/assets/content/web_android_ios.png" class="max-width-1">
                </div>
                <div class="text-center">
                    <h1 class="who-are-font">WEB+Android+iOS</h1>
                </div>
            </mat-card>
        </div>
    </div>
</div>