<br>
<div class="row">
	<div class="col-md-12">
		<p class="text-center">
			<strong class="text-h1">{{this.commonSevice.dataFromDb.portfolio[0]?.title1}}</strong>
		</p>
	</div>
</div>
<div class="row">
	<ng-container *ngIf="this.commonSevice.dataFromDb.portfolio[0]?.childs.length > 0">
		<ng-container *ngFor="let child of this.commonSevice.dataFromDb.portfolio[0]?.childs">
			<div class="col-md-4">
				<mat-card class="g">
					<img src="{{child.img | linkAssets}}" alt="" class="img">
					<div class="middle" (click)="openDialog(child)">
						<div class="row">
							<div class="col-md-12">
								<h1 class="text-center who-are-font color-h1">{{child.title1}}</h1>
							</div>
							<div class="col-md-12">
								<p class="text-center who-are-font">{{child.description}}</p>
							</div>
						</div>
					</div>
				</mat-card>
				<br>
			</div>
		</ng-container>
	</ng-container>
</div>