@import url("./circle.css");

.who-are {
  background-color: #3468C2;
  padding-top: 50px;
  color: white;
}

.who-are-title {
  font-size: xxx-large;
}

p {
  font-size: 1.2em;
}

.right-text {
  font-size: 33px;
}

.center {
  text-align: center !important;
}

.blue-color {
  color: #307bbb;
}


// code mahery
.maincontainer {
  width: 100%;
  background-color: #008dd1;
}
.infocontainer {
  padding-left: 65px;
  padding-top: 46px;
  padding-bottom: 50px;
}

.statcontainer {
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 46px 10px;
  margin-bottom: 0px;
}

.maintitle {
  font-size: 27px;
  color: #fff8a7;
  margin-bottom: 25px;
}

.mydescription {
  color: #ffffff;
}

.mylocation {
  padding-left: 25px;
}

.secondarytitle {
  font-size: 18px;
  color: #fff8a7;
  font-weight: bold;
}