<div class="progress-loader" [hidden]="!loading">
    <div class="loading-spinner">
        <img src="assets/images/loading.svg">
        <span class="loading-message">Chargement...</span>
    </div>
</div>