<!-- <div class="info">
    <div class="row">
        <div class="col-md-12 text-center" data-aos="fade-left">
            <br>
            <h1>Permet de créer quelque chose ensemble</h1>
            <p>Nous offrons des services personnalisés à nos clients. Vous avez un projet en tête sur lequel vous
                aimeriez travailler
                ensemble? Nous aimerions en savoir plus à ce sujet</p>
            <p>N'hesite pas a nous contacter</p>
            <button mat-raised-button color="warn" class="btn-success hvr-wobble-to-bottom-right" data-aos="flip-up"
                (click)="openDialog()">
                Commencer un projet
                <mat-icon>book</mat-icon>
            </button>
            <br>
            <br>
            <h2>ou</h2>
            <br>
            <h2>Abonnez-vous à notre newsletter</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <input type="email" name="" id="" class="form-control">
                        <br>
                        <button mat-raised-button color="primary" data-aos="flip-up" class="hvr-icon-wobble-horizontal">
                            Envoyer
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div> -->

<!-- NEW CODE (mahery) -->

<div data-pg-name="maincont" class="maincont">
    <div data-aos="fade-left" class="initcontainer d-sm-flex d-md-flex flex-sm-column flex-md-row" data-pg-name="initcontainer" data-pg-collapsed>
        <div data-pg-name="startproject" class="mystart">
            <p class="sttitle">Permet de créer quelque choseensemble</p>
            <p style="font-size: 18px; color: #003d6c;">Nous offrons des services personnalisés à nos clients. Vous avez un projet en tête sur lequel vous aimeriez travailler ensemble? Nous aimerions en savoir plus à ce sujet N'hesite</p>
            <div class="d-flex flex-row justify-content-center" data-pg-collapsed>
                <button data-aos="flip-up" type="button" class="btn btn-light mystbtn" (click)="openDialog()" >Commencer un projet <mat-icon>book</mat-icon></button>
            </div>
        </div>
        <div class="container myabon d-flex flex-column justify-content-between">
            <p class="abntitle">Abonnez-vous à notre newsletter</p>
            <input type="email" class="form-control form-control-lg" placeholder="e-mail" style="margin-bottom: 25px; font-size: 20px; border-radius: 10px;">
            <div class="d-flex flex-row justify-content-center" data-pg-collapsed>
                <button data-aos="flip-up" type="button" class="btn btn-light myabbtn">Commencer un projet <mat-icon>send</mat-icon></button>
            </div>
        </div>
    </div>     
</div>