.web {
  font-size: 40px;
  padding: 50px;
  text-align: center;
}

.appmob {
  font-size: 40px;
  text-align: center;
  color: white;
  padding: 50px;
}

.img {
  width: 100%;
  height: auto;
}

.bg {
  margin-top: 60px;
  background-color: #32bb89;
}

.ptext {
  font-size: 1.4rem;
  font-family: "Helvetica Now";
  line-height: 1.25;
}


.textgraph{
  font-size: 60px;
  padding: 25px;
  color: white;
  text-shadow: 5px 10px #222222
}


.bgweb{
  background-image: url('background-desk.jpg');
  background-repeat: no-repeat;
  background-position: center;
  
  background-attachment: fixed;

}
.creation{
  margin-top: 75px;
  font-size: 3rem;
  line-height: 1.25;
}

//code mahery ============
.maincont {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/home-office-336373_1280.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.mycontaint {
  background-color: #e6e6e6;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.24);
}

.headimg {
  background-image: url('../../assets/images/laptop-2838921_1280.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mybodycontainer {
  height: 85%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width:768px) {
  .menu {
      width: 25%;
      height: 100%;
      padding-left: 0px;
      padding-right: 0px;
  }
}

@media (max-width:767px) {
  .menusmal {
      width: 100%;
      height: 8%;
      padding-left: 0px;
      padding-right: 0px;
      overflow-x: auto;
  }
}

@media (min-width:768px) {
  .mainbodydesk {
      width: 75%;
      height: 88%;
      background-color: #ffffff;
  }
}

@media (max-width:767px) {
  .mainbodymob {
      width: 100%;
      height: 90%;
      background-color: #ffffff;
  }
}

@media (min-width:768px) {
  .mcustumbt {
      height: 60px;
  }
}
.hvr-bubble-float-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-right:before {
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: 0;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-right:hover, .hvr-bubble-float-right:focus, .hvr-bubble-float-right:active {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.hvr-bubble-float-right:hover:before, .hvr-bubble-float-right:focus:before, .hvr-bubble-float-right:active:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.hvr-bubble-float-right2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-right2:before {
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: 0;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff00;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-right2:hover, .hvr-bubble-float-right2:focus, .hvr-bubble-float-right2:active {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.hvr-bubble-float-right2:hover:before, .hvr-bubble-float-right2:focus:before, .hvr-bubble-float-right2:active:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}  
.mycusbtn {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}

.mybtstyle {
  background-color: #2276e6;
}
.mybtstyle2 {
  background-color: #05995F;
}

@media (min-width:768px) {
  .btstylelg {
      width: 12px;
      padding-left: 0p;
  }
}

@media (max-width:767px) {
  .btstylemd {
      height: 12px;
  }
}

.bttext {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: #0059e5;
  margin-bottom: 0px;
}
.bttext2 {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: #00a516;
  margin-bottom: 0px;
}

.inactive {
  background-color: #e4e4e4;
}

.stinactive {
  background-color: #cfcfcf;
}

.mainbodymob {
  padding-bottom: 20px;
}

.titlecontainer {
  padding: 7px;
  width: 300px;
  height: 50px;
}

.mytytle {
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 20px;
}

@media (min-width:768px) {
  .mtytlelg {
      position: relative;
      top: -20px;
      padding: 0px;
      min-height: 50px;
  }
}

@media (max-width:767px) {
  .mytitlesm {
      position: relative;
      top: -160px;
      min-height: 92px;
  }
}

.myimg {
  width: 75%;
}

.cutitle {
  font-size: 25px;
  color: #00378f;
  font-weight: bold;
  margin-top: 25px;
}

.logoimg {
  margin-right: 2px;
  margin-left: 2px;
  max-width: 80px;
}

.mytitlebt {
  width: 50%;
  height: 100%;
  background-color: #009eff;
  border: 0px solid;
  color: #ffffff;
}

.mytitlebt2 {
  width: 50%;
  height: 100%;
  background-color: #00a516;
  border: 0px solid;
  color: #ffffff;
}
.headimg2 {
  background-image: url('../../assets/images/ux-788002_1280.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.maincont2 {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/office-620817_1280.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}