<app-intro [logoLink]="'assets/images/LOGOTYPE3-bis_SOFTANDDATA.png'"></app-intro>
<div class="container-fluid home">
    <app-our-competence></app-our-competence>
    <br>
    <br>
    <mat-divider></mat-divider>
</div>
<app-who-are-we></app-who-are-we>
<app-information></app-information>