body {
  background: whitesmoke;
}

.margin-10 {
  margin-top: 5%;
}

.margin-5 {
  margin-top: 10px;
}

.max-width {
  width: 100%;
  height: auto;
}

.max-width-2 {
  width: 100%;
  height: auto;
}

.max-width-1 {
  width: 100%;
  height: auto;
}

.float {
  position: fixed;
  bottom: 58%;
  right: 20px;
}
