<div class="estimate-page calculate">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span [routerLink]="'/home'" class="pointer">Soft and Data</span>
            <span class="example-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <div class="container">
        <button mat-raised-button color="primary" (click)="estimateService.parentType = 'type'" *ngIf="estimateService.parentType !== 'type'">
            <mat-icon>reply</mat-icon>
            Retourner
        </button>
    </div>
    <ng-container *ngIf="estimateService.parentType === 'type'">
        <div class="container margin-10">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-center who-are-font">Vous voulez faire quoi?</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 pointer hvr-bounce-in" (click)="estimateService.parentType = 'type_web'"
                    data-aos="fade-right">
                    <mat-card>
                        <div class="d-flex justify-content-center">
                            <img src="/assets/content/web1.png" class="max-width">
                        </div>
                        <div class="text-center">
                            <h1 class="who-are-font">Site web</h1>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 pointer hvr-bounce-in" (click)="estimateService.parentType = 'type_mobile'"
                    data-aos="fade-up">
                    <mat-card>
                        <div class="d-flex justify-content-center">
                            <img src="/assets/content/mobil.png" class="max-width">
                        </div>
                        <div class="text-center">
                            <h1 class="who-are-font">Mobile</h1>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 pointer hvr-bounce-in" data-aos="fade-left"
                    (click)="estimateService.parentType = 'type_web_mobile'">
                    <mat-card>
                        <div class="d-flex justify-content-center">
                            <img src="/assets/content/web.png" class="max-width">
                        </div>
                        <div class="text-center">
                            <h1 class="who-are-font">Web + Mobile</h1>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="estimateService.parentType === 'type_web'">
        <app-web-type></app-web-type>
    </ng-container>
    <ng-container *ngIf="estimateService.parentType === 'type_mobile'">
        <app-type-mobile></app-type-mobile>
    </ng-container>
    <ng-container *ngIf="estimateService.parentType === 'type_web_mobile'">
        <app-type-web-mobile></app-type-web-mobile>
    </ng-container>
    <ng-container *ngIf="estimateService.parentType !== 'type'">
        <ng-container
            *ngIf="estimateService.parentType !== 'type_mobile' && estimateService.parentType !== 'type_web' && estimateService.parentType !== 'type_web_mobile'">
            <app-type-web-vitrine></app-type-web-vitrine>
        </ng-container>
    </ng-container>
</div>
<button matTooltip=" Valider votre estimation" [matTooltipPosition]="'left'" mat-fab color="warn"
    class="hvr-grow-rotate float" data-aos="fade-left" *ngIf="estimateService.isLevel" (click)="openDialog()">
    <mat-icon>fact_check</mat-icon>
</button>